<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-beacon" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Beacon</name>

	<js-module name="Beacon" src="www/Beacon.js">
		<clobbers target="cordova.plugins.Beacon" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Beacon">
				<param name="android-package" value="cordova-plugin-beacon.Beacon" />
			</feature>
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml">
			<!-- 퍼미션 관련 ex)  <uses-permission android:name="android.permission.READ_CALENDAR"/> -->
		</config-file>

		<source-file src="src/android/Beacon.java" target-dir="src/cordova-plugin-beacon/Beacon" />
		<source-file src="lib/wizturn-beacon-sdk-2.1.0.jar" target-dir="libs/" />
	</platform>
</plugin>